<div class="card">

  <div class="card-content">

     <div class="media">
        <div class="media-left">
            <figure class="image is-64x64">
            <img src="{{ metahuman.photo.url }}" alt="{{ metahuman }}">
            </figure>
        </div>
        <div class="media-content">
            <p class="title is-4">{{ metahuman.name }}</p>
        </div>
    </div>


    <progress class="progress is-primary" value="{{ metahuman.level }}" max="100">
        {{ metahuman.level }}%
    </progress>
    
    {% if metahuman.team.exists %}
        <p>Miembro de: <big>{{ metahuman.team }}</big></p>
    {% endif %}

    <ul>{% for power in metahuman.powers.all %} 
        <li>{{ power.name }}</li>   
    {% endfor %}</ul>
  </div>
</div>
