{% load static %}<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'common/css/bulma.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'common/css/custom.css' %}" rel="stylesheet"> -->
    <title> {{ title }} </title>
  </head>
  <body>

     <div class="columns box">   
        <div class="column">
            <h2> {{ title }}</h2>
        </div>
        <div class="column is-one-quarter">
            <h1> S.H.I.E.L.D.</h1>
        </div>
    </div>

    <hr>
    {% block content %}
    {% endblock content %}
    </hr>
  </div>

  </body>
</html>
